* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.page-top {
	background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 4em 0;
    font-size: .7em;
    letter-spacing: 1px;
}

.navbar {
	width: 95%;
	margin: 0 auto;
	border-bottom: 2px solid #f2f2f2;
}

.navbar td {
	padding: .5em 0;
}

.menu {
	width: 20%;
	font-size: 5em;
}

.headline {
	font-size: 3em;
	letter-spacing: 1px;
}

.logo-pic {
	width: 90px;
}

.basket {
	font-size: 5em;
}

.content {
	margin-bottom: 20em;
}

h2 {
	font-style: italic;
	padding: .5em;
	font-size: 2em;
	letter-spacing: 1px;
}

.sliding-menu div {
	display: inline-block;
}

.sliding-menu {
	background-color: #d28281;
	color: #fff;
	padding: 2em 0 2em .5em;
	letter-spacing: 1px;
	position: relative;
	font-weight: 300;
	margin: .5em 0
}

.arrow-up {
	position: absolute;
	right: 15px;
	top: 35%;
	font-size: 3em;
}

.arrow-down {
	position: absolute;
	right: 15px;
	top: 35%;
	font-size: 3em;
}

.sliding-menu-icon {
	color: #d28281;
    background-color: #fff;
    border-radius: 50%;
    padding: .7em;
    margin: 0 1em 0 .5em;
    font-size: 2.5em;
}

.sliding-item-container {
	display: none;
	background-color: #f2f2f2;
	padding: 1em;
	font-size: 2.5em;
}

.sliding-item {
	background-color: #fff;
	padding: 1em;
	width: 95%;
	margin: 1em auto;
}

.view-all {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.view-all i {
	margin-left: .5em;
}

.popular-qa {
	margin-bottom: 5em;
}
	
.popular-qa-title {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin: 2em 0 1em;
}

.questions {
	display: block;
	padding: .5em 0 4em 1em;
	font-size: .8em;
}

.ratings-container {
	background-color: #fbf2f3;
}

.icon-left {
	color: #e2b2b0;
	font-size: 5em;
	padding: .3em 0 0 .3em;
}

.rating {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.rating-text {
	color: #333;
	line-height: 1.7;
	font-size: 2.5em;
	font-style: italic;
}

.rating-author {
	font-weight: bold;
	font-size: 3em;
	padding-top: .5em;
	letter-spacing: 1px;
}

.stars i {
	display: inline-block;
	padding: 1em .2em 0;
	color: #efca5f;
	font-size: 4em;
}
	
.icon-right {
	color: #e2b2b0;
	font-size: 5em;
	padding: 0 .3em .3em 0;
	text-align: right;
}

.spacer {
	width: 70%;
	margin: 2em auto;
	height: 6px;
	background-color: #fff;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

















